<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            $('#submitForm').on('submit', function() {

                var $thisForm = $(this);

                var newPassword = $thisForm.find('input[name=newPassword]').val();
                var newRePassword = $thisForm.find('input[name=newRePassword]').val();

                if (newPassword !== newRePassword) {
                    alert(' 신규 비밀번호화 신규 확인 비밀번호가 일치하지 않습니다.');
                    return false;
                }

            });


        });
    </script>
</head>
<body>

        <h1>회원 정보</h1>
        <!--<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>-->

        <div>
            <hr/>
            <a href="/member/info">회원 정보 수정</a>
            |
            <a href="/member/password">비밀번호 변경</a>
            |
            <a href="/member/takecourse">내 수강 목록</a>
            <hr/>
        </div>

        <div>
            <form id="submitForm" method="post">
            <div>
                <input type="password" name="password" placeholder="현재 비밀번호 입력" required/>
            </div>
            <div>
                <input type="password" name="newPassword" placeholder="신규 비밀번호 입력" required/>
            </div>
            <div>
                <input type="password" name="newRePassword" placeholder="신규 확인 비밀번호 입력" required/>
            </div>
                <div>
                    <button type="submit">비밀번호 변경</button>
                </div>

            </form>
        </div>


</body>
</html>
