<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강좌 상세 페이지</title>
    <style>
        span.price {
            text-decoration: line-through;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function() {

            $('#submitForm').on('submit', function() {

                if (!confirm('수강 신청을 하시겠습니까?')) {
                    return false;
                }

                var $thisForm = $(this);

                var url = '/api/course/req.api';
                var parameter = {
                    courseId: $thisForm.find('input[name=id]').val()
                };
                axios.post(url, parameter).then(function(response) {
                    console.log(response);
                    console.log(response.data);

                    response.data = response.data || {};
                    response.data.header = response.data.header || {};

                    if (!response.data.header.result) {
                        alert(response.data.header.message);
                        return false;
                    }

                    //정상적일때
                    alert(' 강좌가 정상적으로 신청되었습니다. ');
                    location.href = '/';


                }).catch(function(err) {
                    console.log(err);
                });

                return false;
            });

        });
    </script>
</head>
<body>
    <h1>강좌 상세 정보 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div>
        <h2>강좌명: <span th:text="${detail.subject}">강좌</span></h2>
        <div th:utext="${detail.contents}">
        </div>

        <div>
            <p>가격: <span th:text="${detail.price}">0</span></p>
            <p>할인가격: <span th:text="${detail.salePrice}">0</span></p>
        </div>

        <div>
            <img th:src="${detail.urlFilename}"/>
        </div>

        <div>
            <form id="submitForm" method="post">
                <input type="hidden" name="id" th:value="${detail.id}"/>
                <button type="submit">수강신청</button>
                <a href="/course">강좌목록</a>
            </form>
        </div>

    </div>


</body>
</html>
